@import 'resets.css';
@import 'variables.css';
@import 'animations.css';
@import 'typography.css';


button {
  font-family: 'Pragati Narrow', sans-serif;
}

.berliner {
  background: var(--color-off-black);
}

.cloud {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /*stop animations creating scrollbars*/
  padding: 0.5em;
  @media (--break-horizontal-min) {
    padding: 1em 2em;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 2em);
    max-width: 1400px;
    margin: auto;
    @media (--break-horizontal-min) {
      justify-content: space-around;
    }
  }
  &__title {
    text-align: center;
    color: white;
    @media (--break-horizontal-min) {
      font-size: 3em;
    }
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 4.5em);
    @media (--break-medium-min) {
      align-items: center;
    } 
    @media (--break-horizontal-min) {
      height: 90vw;
      max-width: calc(100vw - 2em); /* ie fix */
    }
    @media (--break-vertical-max) {
      justify-content: flex-end;
      flex-direction: column;
    }
  }
  &__collection {
    user-select: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    mix-blend-mode: screen;
    flex: 0 1 auto;
    box-sizing: content-box;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: auto;
    max-width: 100vw; /* ie fix */
    @media (--break-horizontal-min) {
      max-width: 45em;
      flex: 1 1 60vw;
    }
  }
  &__selected-topic {
    display: flex;
    perspective: 1000px;
    flex: 0 0 11em;
    @media (--break-horizontal-min) {
      padding-left: 3em;
      flex: 0 1 var(--details-width);
    }
  }
}

.tag {
  margin: -1em -0.33em -2.5em;
  list-style: none;
  color: white;
  border-radius: 50%;
  display: flex;
  width: 5em;
  height: 5em;
  align-items: center; 
  position: relative;
  transition: 0.2s all;
  z-index: 1;
  &:nth-child(5n + 1) {
    margin-bottom: 0;
  }
  &:nth-child(3n + 2) {
    margin-bottom: 1em;
  }
  &:nth-child(4n + 3) {
    margin-bottom: -0.7em;
  }
  &:hover {
    z-index: 10;
    transform: scale(1.1);
  }
  &--hide {
    opacity: 0 !important;
  }
  &--show {
    animation: appear 0.3s backwards var(--ease-overshoot);
    will-change: opacity, transform;
    /* opacity: 1; */
  }
  &--animating {
    mix-blend-mode: unset !important; /* mix-blend-mode is buggy when animating */
  }
  &::after {
    content: " ";
    position: absolute;
    z-index: -99;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
  &:nth-child(even)::after {
    opacity: 0.9;
  }
  &--green {
    mix-blend-mode: soft-light;
    &::after {
      background-color: var(--color-green); 
    }
  }
  &--red {
    mix-blend-mode: luminosity;
    &::after {
      background-color: var(--color-red);
    }
  }
  &--grey {
    mix-blend-mode: soft-light;
    &::after {
      background-color: var(--color-grey);
    }
  }
  &--selected {
    transform: scale(1.2) !important;
    z-index: 10;
    overflow: visible;
    opacity: 0.95 !important;
    mix-blend-mode: normal;
    &.tag {
      &--green {
        color: var(--color-green);
      }
      &--red {
        color: var(--color-red);
      }
      &--grey {
        color: var(--color-grey);
      }
    }
    &::after {
      background: white;
    }
    &::before {
      content: "";
      height: 150%;
      width: 150%;
      top: -25%;
      left: -25%;
      border-radius: 50%;
      position: absolute;
      box-shadow: inset 0 0 1em white;
      z-index: 8;
      pointer-events: none;
      transform-origin: center;
      display: block;
      animation: explode 0.3s ease-out 1 both;
    }
  }
  &--size-1 { 
    font-size: 1em;
    animation-delay: 1.3s;
    &:nth-child(even) {
      animation-delay: 1.4s;
    }
  }
  &--size-2 {
    font-size: 1.2em;
    animation-delay: 1.1s;
    &:nth-child(even) {
      animation-delay: 1.2s;
    }
  }
  &--size-3 {
    font-size: 1.4em;
    animation-delay: 0.8s;
    &:nth-child(even) {
      animation-delay: 0.95s;
    }
  }
  &--size-4 {
    font-size: 1.6em;
    animation-delay: 0.5s;
    &:nth-child(even) {
      animation-delay: 0.65s;
    }  
  }
  &--size-5 {
    font-size: 1.8em;
    animation-delay: 0.2s;
    &:nth-child(even) {
      animation-delay: 0.3s;
    }  
  }
  &--size-6 {
    font-size: 2.5em;
    width: 4.2em;
    height: 4.2em;
    margin-bottom: 0em !important;
    &:nth-child(even) {
      margin-bottom: -2em !important;
    }
  }
  &__button {
    flex: 1 1 auto;
    border-radius: 50%;
    font-size: inherit;
    color: inherit;
    border: none;
    background: none;
    padding: 0 0.5em;
    box-sizing: content-box;
    height: 100%;
    transition: 0.1s;
    line-height: 1;
    position: relative;
    z-index: 5;
    .tag--size-6 & {
      padding: 0;
    }
    .tag:not(.tag--selected) & {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  &__word {
    display: block;
    &[data-length="1"],
    &[data-length="2"],
    &[data-length="3"] {
      display: inline-block;
      &::after {
        content: "\00a0";
      }
      + .tag__word {
        display: inline-block;
      }
    }
  }
}

.legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  &__title {
    font-size: 1.8em;
    text-align: center;
  }
  &__labels {
    @media (--break-horizontal-min) {
      display: flex;
      justify-content: center;
      width: var(--details-width);
    }
  }
  &__label {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }
  &__symbol {
    text-indent: -1000%;
    overflow:hidden;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    &--green {
      background-color: var(--color-green);
    }
    &--red {
      background-color: var(--color-red);
    }
    &--grey {
      background-color: var(--color-grey);
    }
  }
  &__description {
    margin-left: 0.5em;
    margin-bottom: 0;
  }
}

.topic-details {
  display: flex;
  flex-direction: column;
  background: white;
  width: var(--details-width);
  padding: 1em;
  animation: flip-in 0.3s backwards var(--ease-overshoot) 2s;
  will-change: transform, opacity;
  min-height: 12em;
  &--waiting {
    animation: none;
    visibility: hidden;
  }
  @media (--break-vertical-max) {
    flex: 0 1 auto;
    width: 200px;
  }
  @media (--break-horizontal-min) {
    min-height: 15em;
  }
  &--hide {
    animation: flip-out 0.3s both ease-out;
  }
  &--show {
    animation: flip-in 0.3s both var(--ease-overshoot);
  }
  &__title {
    line-height: 1;
    font-size: 1.5rem;
    @media (--break-horizontal-min) {
      font-size: 2.67rem;
    }
  }
  dl {
    margin-top: 1em;
    position: relative;
  }
  dt {
    float: left;
    clear: left;
  }
  dd {
    float: right;
    &::after {
      content: "";
      border-bottom: 1px solid var(--color-grey);
      position: absolute;
      width: 100%;
      right: 0;
    }
  }
}
