body {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: calc(1vw + 1vh);
    @media (--break-medium-min) {
      /* font-size: 15px;  */
    }
    @media (--break-horizontal-min) {
      font-size: 17px;
    }
    @media (--break-horizontal-large-min) {
      font-size: 19px;
    }    
}

.deemphasise {
  opacity: 0.3;
}